/********************* TAILWIND CSS STYLES *********************/

@tailwind base;
@tailwind components;
@tailwind utilities;

/********************* INTER FONTS *********************/


/* BOLD FONT */

@font-face {
    font-family: 'Inter-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
}


/* MEDIUM FONT */

@font-face {
    font-family: 'Inter-Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
}


/* REGULAR FONT */

@font-face {
    font-family: 'Inter-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}


/* LIGHT FONT */

@font-face {
    font-family: 'Inter-Light';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/Inter-Light.ttf') format('truetype');
}


/********************* GLOBAL STYLES *********************/

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2,
h1 {
    font-family: 'Inter-Bold';
}

h3,
label,
p,
span {
    font-family: 'Inter-Medium';
}

h4,
input,
a,
button {
    font-family: 'Inter-Regular';
}